# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
# fabric-chaincode-java azure pipeline configuration.
#
name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.rrr)

# Daily build for final quality
# cf https://crontab.guru/#0_23_*_*_*
schedules:
  - cron: "0 23 * * *"
    displayName: "Chaincode Java Nightly Driver"
    branches:
      include:
        - master
    always: true

trigger:
  branches:
    include:
      - "master"
  tags:
    include:
      - "*"

# These are custom defined variables, the pipeline one is currently used for the build scripts
# to know to produce tests results in XML format for Azure to consume, for developers
# this isn't set so command line output is given
#
# Chaincode_Java_Creds is the protected group of keys for publishing
#
variables:
  - group: Chaincode_Java_Creds
  - group: Github-PackageRegistry-Credentials
  - group: JARSigningPublish
  - name: component
    value: fabric-chaincode-java
  - name: pipeline
    value: ci
  - name: PUSH_VERSION
    value: stable
  - name: FABRIC_VERSION
    value: 2.1

pool:
  vmImage: "ubuntu-latest"

# The stages and jobs, potential for rationalization and optimization
# Keeping it simple and explicit whilst we gain experience
#
stages:
  - stage: Build_and_test
    jobs:
      - job: displayenv
        steps:
          - template: templates/build-data.yml
      - job: main
        steps:
          - task: Gradle@2
            inputs:
              workingDirectory: ""
              gradleWrapperFile: "gradlew"
              gradleOptions: "-Xmx3072m"  
              javaHomeOption: "JDKVersion"
              jdkVersionOption: "1.8"
              jdkArchitectureOption: "x64"
              publishJUnitResults: true
              testResultsFiles: "$(System.DefaultWorkingDirectory)/**/TEST-*.xml"
              tasks: "build"
          - task: PublishBuildArtifacts@1
            condition: or(succeeded(), failed()) 
            inputs:
               pathToPublish: fabric-chaincode-shim/build/reports/checkstyle/
               artifactName: checkstylereport
            displayName: 'Checkstyle'
            continueOnError: true
          - task: PublishBuildArtifacts@1
            condition: or(succeeded(), failed()) 
            inputs:
               pathToPublish: fabric-chaincode-shim/build/reports/jacoco/
               artifactName: coveragereport
            displayName: 'JaCoCo Coverage'
            continueOnError: true            
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: 'fabric-chaincode-shim/build/reports/dependency-check-junit.xml'
              mergeTestResults: true
              failTaskOnFailedTests: false
              testRunTitle: OWASP Dependency Check
            displayName: 'Publish OWASP Dependency Check JUnit results'
          - task: CopyFiles@2
            inputs:
              contents: |
                fabric-chaincode-shim/build/reports/dependency-check-*.*
              targetFolder: $(Build.ArtifactStagingDirectory)/dependency-check
            displayName: 'Collect OWASP Dependency Check results'
          - task: PublishBuildArtifacts@1
            inputs:
              pathToPublish: $(Build.ArtifactStagingDirectory)/dependency-check
              artifactName: 'Dependency Check Report'
            displayName: 'Publish full OWASP Dependency Check result'
          - task: PublishCodeCoverageResults@1
            inputs:
              summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/fabric-chaincode-shim/build/reports/jacoco/test/jacocoTestReport.xml"
            # Copy the built artifacts to the staging directory, tgz, and the docker image    
          - script: |
              set -ev
              ./gradlew publishToMavenLocal
              tar -zcvf localmaven.tgz ${HOME}/.m2/repository/org/hyperledger              
              docker image save hyperledger/fabric-javaenv | gzip > $(Build.ArtifactStagingDirectory)/fabric-javaenv.tar.gz
            displayName: 'Package tgz and docker image'    
          - task: PublishBuildArtifacts@1    
            inputs:
              pathToPublish: localmaven.tgz
              artifactName: java-tgz
          - task: PublishBuildArtifacts@1    
            inputs:
              pathToPublish:  $(Build.ArtifactStagingDirectory)/fabric-javaenv.tar.gz
              artifactName: javaenv-docker-image

      - job: javadoc
        dependsOn: displayenv
        condition: and(succeeded(),eq(variables['Build.Reason'], 'IndividualCI'))
        variables:
          ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/master') }}:
            javadoc_release: master
          ${{ if ne(variables['Build.SourceBranch'], 'refs/heads/master') }}:
            javadoc_release: $[format('release-{0}',dependencies.displayenv.outputs['BuildData.MINOR_PACKAGE_VERSION'])]
        steps:
          - script: ./gradlew javadoc
            displayName: 'Build JavaDoc'
          - script: |
              if [ -d docs ]; then
                mkdir gh-pages
                cp -r docs/* gh-pages
              fi
            displayName: 'Copy gh-pages doc'
            condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
          - script: |
              git fetch origin
              git checkout -b gh-pages origin/gh-pages
              mkdir -p $(javadoc_release)/api
              rm -rf $(javadoc_release)/api/*
              cp -r fabric-chaincode-shim/build/docs/javadoc/* $(javadoc_release)/api
              if [ -d gh-pages ]; then
                find . -maxdepth 1 ! \( -name [.]* -o -name 'gh-pages' -o -name 'master' -o -name 'release-*' \) -exec rm -rf {} \;
                cp -r gh-pages/* .
                rm -rf gh-pages
              fi
            displayName: 'Update gh-pages branch'
          - script: |
              git config --global user.email "hlfdev.azp@gmail.com"
              git config --global user.name "Hyperledger Bot"
              git add -A
              git commit -m "Publishing GitHub Pages"
              git push https://$(GITHUB-PAT)@github.com/hyperledger/fabric-chaincode-java.git gh-pages
            displayName: 'Commit gh-pages changes'

  # As the next script is more complex and uses loops, run this discretely in a sh file
  # Publishing step for git tags
  - stage: Publish_tag
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags'))
    jobs:
      - job: publish_release
        steps:
          - template: templates/build-data.yml
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: javaenv-docker-image
              path: $(Build.SourcesDirectory)/build
          - task: DownloadSecureFile@1
            name: keyring
            inputs:
              secureFile: secring.gpg
          - script: |
              wget -qO "$PWD/manifest-tool" https://github.com/estesp/manifest-tool/releases/download/v1.0.0/manifest-tool-linux-amd64
              chmod +x ./manifest-tool   

              docker image load --input build/fabric-javaenv.tar.gz
              docker images
              docker login ${DOCKER_REGISTRY_URL} --username=${DOCKER_REGISTRY_USERNAME} --password=${DOCKER_REGISTRY_PASSWORD}
              echo "Logged in to docker registry"
              # tag javaenv image to PACKAGE_VERSION
              docker tag hyperledger/fabric-javaenv fabric-javaenv:amd64-$(BuildData.PACKAGE_VERSION)-beta
              # push javaenv to repository
              docker push hyperledger/fabric-javaenv:amd64-$(BuildData.PACKAGE_VERSION)
              ./manifest-tool push from-args --platforms linux/amd64 --template "hyperledger/fabric-javaenv:amd64-$(BuildData.PACKAGE_VERSION)-beta" --target "hyperledger/fabric-javaenv:$(BuildData.PACKAGE_VERSION)-beta"
              ./manifest-tool push from-args --platforms linux/amd64 --template "hyperledger/fabric-javaenv:amd64-$(BuildData.PACKAGE_VERSION)-beta" --target "hyperledger/fabric-javaenv:2.0"              
            env:
              DOCKER_REGISTRY_USERNAME: $(DockerHub-Username)
              DOCKER_REGISTRY_PASSWORD: $(DockerHub-Password)
          - script: |
              ./gradlew -Psigning.keyId=${SIGNING_ID} -Psigning.password=${SIGNING_PASSWORD} -Psigning.secretKeyRingFile=${KEYRING_FILE} -PossrhUsername=${OSSRH_USER} -PossrhPassword=${OSSRH_PASSWORD} uploadArchives
            env:
              SIGNING_ID: $(JAR-Signing-Id)
              SIGNING_PASSWORD: $(JAR-Signing-Password)              
              KEYRING_FILE: $(keyring.secureFilePath)
              OSSRH_USER: $(OSSRH-User)
              OSSRH_PASSWORD: $(OSSRH-Password)
