name: "Scheduled vulnerability scan"

on:
  schedule:
    - cron: "20 3 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  release-version:
    name: Get latest release tag
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.tag-name.outputs.value }}
    steps:
      - id: tag-name
        run: echo "value=$(curl --location --silent --fail "https://api.github.com/repos/${GITHUB_REPOSITORY}/releases/latest" | jq --raw-output '.tag_name')" >> "${GITHUB_OUTPUT}"

  scan-release:
    name: Scan ${{ needs.release-version.outputs.tag_name }}
    needs: release-version
    uses: ./.github/workflows/scan.yml
    with:
      ref: ${{ needs.release-version.outputs.tag_name }}

  scan-latest:
    name: Scan latest
    uses: ./.github/workflows/scan.yml
